@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #00013c 40%, #120f66 70%, #0f2a58 90%);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    width: 100%;
    height: calc(100vh - 40px);
    margin-top: 20px;
    overflow: hidden;
}

.header {
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding: 10px;
    box-sizing: border-box;
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
}

.left-column, .right-column {
    width: 50%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.left-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-column {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chart-container {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
}

canvas {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
}

.month-selector {
    width: 100%; 
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
}

.month-selector label {
    color: white;
    font-size: 16px;
    margin-right: 10px;
}

.month-selector select {
    padding: 5px;
    font-size: 16px;
}

.isinya {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    color: aliceblue;
}

.popular-item {
    font-size: 18px;
    margin: 10px 0;
    text-align: center;
    width: 100%;
}
